@font-face {
     font-family: 'Bebas';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/bebas-neue-v9-latin-regular.woff2') format('woff2'),
          url('../fonts/bebas-neue-v9-latin-regular.woff') format('woff');
   }