.main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 310px;
    padding-bottom: 100px;
    

}
.main__title {
    font-family: 'Bebas Neue', 'Open Sans', sans-serif;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 15px;
    
}
.main__text {
    font-family: 'Bebas Neue', 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.main__button {
    font-family: 'Bebas Neue', 'Open Sans', sans-serif;
    cursor: pointer;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    border: #FFB548;
    display: flex;
    padding: 15px 25px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1A1917;
    display: flex;
    align-items: center;
    margin-bottom: 500px;
}
.main__btn {
    padding-right: 7px;
    margin-right: 7px;
    border-right: 1px solid #1A1917;
}
.main__story {
    font-family: 'Bebas Neue', 'Open Sans', sans-serif;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    text-transform: uppercase;
    position: relative;
}
.main__story::before {
    content: '';
    background-image: url(../img/header/scroll-down.svg);
    width: 23px;
    height: 10px;
    top: 20px;
    left: 9px;
    position: absolute;
}
