.quotes {
    background: #080A0B;
    background-size: cover;
    height: 1100px;
}
.quotes__content { 
    display: flex;
    padding: 250px 0;
    align-items: center;
}
.quotes__left {
    width: 50%;
}
.quotes__question {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.quotes__title {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 40px;
    padding-top: 40px;
}
.quotes__text {
    
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
width: 435px;
color: #FFFFFF;
padding-bottom: 40px;
}
.quotes__btn {
    cursor: pointer;
    color: #080A0B;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    padding: 15px 20px 15px 15px;
    position: relative;
}
.quotes__btn::before {
    content: '';
    position: absolute;
    width: 1.5em;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#fff,0);
    transform: translateX(0em)
}
.quotes__btn:hover {
    cursor: pointer;
}
.quotes__btn:hover:before {
    animation: blick 0.6s;
}
@keyframes blick {
    0% {
    transform: translateX(0em) 
    }
    1% {
    background-color: rgba(#fff,0.6);
    }
    100% {
    transform: translateX(13em)  
    }
}
.quotes__comment {
    width: 453px;
    height: 200px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 30px 0;
}
.quotes__comment_left {
    margin-left: 100px;
}
.quotes__box {
    padding-right: 30px;
}
.quotes__line {
    display: flex;
    align-items: center;
    
}
.quotes__img {
    border-radius: 50%;
    border-right: 5px solid #FFB548;
    border-bottom: 5px solid #FFB548;
}
.quotes__name {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #FFB548;
    cursor: pointer;
}
.quotes__who {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    opacity: 0.5;
}
.quotes__twitter svg path:hover{
    fill: rgb(0, 208, 245);
    opacity: 1;
}
.quotes__twitter {
    margin-left: 200px;
    padding-bottom: 25px;
}
.quotes__com {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 25px;
}
.quotes__date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding-top: 10px;
}
